<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id = "daily-Sales">
                <div class="card-header">
                    <h5 class="card-title">Daily Sales</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{daily_sales}}</h3>
                </div>
            </div>
        </div>
        
    </div> 

    <div class="col">
        <div class= "col-md">
            <div class="card text-center text-white mb-3" id = "Monthly-Sales">
                <div class="card-header">
                    <h5 class="card-title">Monthly Sales</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{monthly_sales}}</h3>
                </div>
            </div>
        </div>
        
    </div>
</div>